# Configuracoes do container do banco de dados
POSTGRES_USER=root
POSTGRES_PASSWORD=root
POSTGRES_DB=rabisco

#Configurações internas do backend
JWT_SECRET="unsecure_secret"
DATABASE_URL="postgres://root:root@localhost:5432/rabisco?schema=public"
